.container-ctm{
  .h1-ctm{
  color: $primary-color;
  font-family: 'Anton', serif;
  margin-top: 80px;
  font-size: 48pt;
  padding-left: 50px;
  }
  .desc-header{
    color: $warna-text-color;
    font-family: 'Crete Round', Georgia, 'Times New Roman', serif;
    font-size: 17px;
    font-style: italic;
  }
}
.masthead {
  min-height: 500px;
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto Slab', serif;
}
.paragraf-ctm{
  font-family: 'Big Shoulders Text', cursive;
  font-size: 20px;
  color: $primary-color;
}
