.row-ctm{
    color:$warna-text-color;
    background-color: $secondary-color;
    .btn-primary{
      background-color: $secondary-color;
      border-color: $primary-color;
      margin-bottom: 30px;
    }
}
.row-ctm-r{
  color:$primary-color;
  background-color: $seventh-color;
  .btn-primary{
    background-color: $seventh-color;
    border-color: $primary-color;
    margin-bottom: 30px;
  }
  .h-ctm{
    color: $primary-color;
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    margin-top: 50px;
  }
  .p-ctm{
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;
    color: $primary-color;
  }
}
.h-ctm{
  color: $warna-text-color;
  font-family: 'Roboto Slab', serif;
  font-size: 24pt;
  margin-top: 50px;
}
.p-ctm{
  font-family: 'Big Shoulders Text', cursive;
  font-size: 20px;
  color: $warna-text-color;
}
#tools{
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}