
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '_variables.scss';
@import '_base.scss';
@import '_components.scss';
@import '_navbar.scss';
@import '_header.scss';
@import '_sections.scss';
@import '_footer.scss';

.headerbackground {
	background-color: $primary-color;
	.hr-ctm{
		border-color: $warna-text-color;
	}
}
